* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #bbb;
}

.container {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
}

h2 {
    padding: 30px 0;
}

#orders li {
    list-style-type: none;
    background-color: #b2b2ff;
    width: 45%;
    margin-top: 5px;
}

#orders li:nth-child(odd) {
    background-color: #ccccff;
}

p {
    font-size: 18px;
}

input {
    margin-top: 10px;
    padding: 3px;
}

form {
    width: 40%;
}

form p {
    font-size: 20px;
    margin-bottom: -10px;
    margin-top: 20px;
}

#btnSend,
#btnUpdate {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: lightgreen;
}



.remove {
    background-color: #ff0000;
    padding: 3px;
    margin-bottom: 5px;
}
.update {
    background-color: #F7DC6F;
    padding: 3px;
    margin-bottom: 5px;
}